body {
  background: #FEFBF4;
  margin: 0;
}

.container {
  width: 550px;
  display: block;
  margin: 0 auto;
}

header ul {
  padding: 0;
  width: 200px;
}

header ul li {
  list-style-type: none;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.menu {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  clip-path: circle(0%);
  background: #7E9B7C;
  color: #ffffff;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: clip-path 1s;
}

.menu.open {
  clip-path: circle(100%);
  animation: 1s spotlight;
}

@keyframes spotlight {
  0% { clip-path: circle(3% at 50% 120%); }
  30% { clip-path: circle(3% at 50% 20%); }
  55% { clip-path: circle(4% at 50% 45%); }
  60% { clip-path: circle(3% at 50% 25%); }
  65% { clip-path: circle(4% at 50% 40%); }
  70% { clip-path: circle(3% at 50% 50%); }
  80% { clip-path: circle(4% at 50% 40%); }
  100% { clip-path: circle(100% at 50% 50%); }
}

header ul li {
  position: relative;
  color: #ffffff;
  transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  font-size: 35px;
  padding: 7px 0;
  display: inline-block;
  width: 100%;
  -webkit-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
}

header ul li:before,
header ul li:after {
  content: '';
  position: absolute;
  transition: inherit;
  z-index: -1;
}

header ul li:hover {
  color: #C6C7C2;
}

header ul li:hover:before {
  transition-delay: 0s;
}

header ul li:hover:after {
  background: #FDFDFD;
  transition-delay: .10s;
}

/* From Right */
.from-right:before,
.from-right:after {
  top: 0;
  width: 0;
  height: 100%;
}

.from-right:before {
  left: 0;
}

.from-right:after {
  right: 0;
}

.from-right:hover:before,
.from-right:hover:after {
  width: 100%;
}

/* From Left */
.from-left:before,
.from-left:after {
  top: 0;
  width: 0;
  height: 100%;
}

.from-left:before {
  right: 0;
}

.from-left:after {
  left: 0;
}

.from-left:hover:before,
.from-left:hover:after {
  width: 100%;
}

.burger-icon {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 9999;
  color: #99ab9d;
}

.burger-icon:hover {
  color: #708074;
}

.burger-icon .svg-inline--fa,
.close-nav-icon .svg-inline--fa {
  font-size: 25px;
}

.close-nav-icon {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 9999;
  display: none;
}

.icon-animation {
  transition: ease 2s;
  -webkit-transition: ease 2s;
  -moz-transition: ease 2s;
  -ms-transition: ease 2s;
  -o-transition: ease 2s;
  transition-delay: 3s;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

h1,
.by-autor {
  text-align: center;
}

h1 {
  font-size: 57px;
  font-weight: 300;
  margin-bottom: 25px;
}

.by-autor {
  font-size: 28px;
  margin-bottom: 65px;
}

.description-card {
  margin-bottom: 40px;
  background: #ffffff;
  position: relative;
  box-shadow: 0px 3px 10px -3px rgb(0 0 0 / 20%);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.description-card .fa-caret-up {
  display: inline-block;
  position: absolute;
  top: 17px;
  left: -17px;
  color: #ffffff;
  background: #99ab9d;
  width: 25px;
  height: 25px;
  border: 3px solid #b7bdb9;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.description-card p {
  padding: 15px 20px;
  font-size: 15px;
}

.author-text p {
  font-size: 19px;
  margin-bottom: 25px;
}