body {
  margin: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: #edacc2;
  transition: .5s;
}

.aplication-block {
  width: 350px;
  background: #FCFEFD;
  -webkit-box-shadow: 3px 3px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 3px 3px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 3px 3px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 3px;
}

.aplication-block ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  border-top: 1px solid #d2d2d2;
  margin-bottom: 3px;
}

.aplication-block ul li {
  list-style: none;
  padding: 10px 0;
}

.bottom-bar {
  content: '';
  height: 10px;
  width: 50%;
  display: block;
  background: #EBECE9;
  border-radius: 3px;
  position: relative;
  bottom: 0;
  margin: 0 auto 5px;
}

.bottom-bar.middle {
  width: 40%;
}

.aplication-content {
  overflow: hidden;
  position: relative;
}

.dot.active {
  transform: scale(1.1);
  transition: .5s;
  filter: opacity(.8);
}

.slide-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 1050px;
  padding: 50px 0;
}

.slide .svg-inline--fa {
  height: 80px;
  width: 80px;
  margin-bottom: 30px;
}

.slide .fa-html5 {
  color: #edacc2;
}

.slide .fa-css3-alt {
  color: #c3a1d1;
}

.slide .fa-js {
  color: #f3e841;
}

.slider-dots {
  text-align: center;
  bottom: 10px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.slider-dots span {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.link-html,
.link-css,
.link-js {
  height: 40px;
  width: 40px;
  display: inline-block;
  cursor: pointer;
  filter: opacity(0.6);
}

.link-html {
  background: url(../img/html5-brands.svg) center no-repeat;
}

.link-css {
  background: url(../img/css3-alt-brands.svg) center no-repeat;
}

.link-js {
  background: url(../img/js-brands.svg) center no-repeat;
}

.slide-container .slide.fade {
  width: 350px;
}

.slide {
  transition: all .6s;
}

.slide.fade .bottom-bar {
  margin-bottom: 25px;
}